<h1>Welcome, <%= current_user.first_name %></h1>

<ul>
  <% current_user.boxes.each do |box| %>
    <strong><p>Subscription course : $<%= box.level %>/mo</p></strong>
    <strong>Your box history</strong>
    <ul>
      <li><%= link_to box.title, user_box_path(box.user_id, box)%> | <%= box.month %> <%= box.year %></li>
    </ul>
  <% end %>
</ul>

<%= link_to "cancel subscription", current_user, method: :delete, data: { confirm: "You sure?"} %>
