<%= form_for([@plan, @box]) do |f| %>
  <%= render "shared/errors", object: @box %>

  <% unless params[:plan_id].present? %>
    <%= f.label "Select a Plan" %>
    <%= f.collection_select(:plan_id, Plan.all, :id, :name)%><br>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label "Month and year" %>
  <%= f.date_select :month_year, { discard_day: :true, } %><br><br>

  <strong><%= f.label "Select items(up to three items)"%></strong><br>
    <%= f.fields_for :items do |items_fields| %>
    <ul>
      <li>
        <%= items_fields.label :item_name %>
        <%= items_fields.text_field :item_name %><br>
      </li>
      <li>
        <%= items_fields.label :description %>
        <%= items_fields.text_area :description %><br>
      </li>
      <li>
        <%= items_fields.label :image %>
        <%= items_fields.text_field :image %><br>
      </li>
      <li>
        <%= items_fields.label :size %>
        <%= items_fields.text_field :size %><br>
      </li>
      <li>
        <%= items_fields.label :url %>
        <%= items_fields.text_field :url %>
      </li>
    </ul><br>
    <% end %>
  <%= f.submit %>
<% end %>
