<h1><%= @box.title %></h1>
<h3><%= @box.plan.name.capitalize %> Plan | <%= @box.month_year.strftime('%B %Y') %></h3>

<strong>Item List</strong><br>
<% if @plan %>
  <ul>
    <% @box.items.each do |item| %>
     <li><%= link_to item.item_name, plan_box_item_path(@plan, @box, item) %> | <%= item.size %></li>
    <% end %>
  </ul>
<% elsif @box %>
  <ul>
    <% @box.items.each do |item| %>
     <li><%= link_to item.item_name, box_item_path(@box, item) %> | <%= item.size %></li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @box.items.each do |item| %>
     <li><%= link_to item.item_name, item_path(item) %> | <%= item.size %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user && current_user.admin %>
  <% if @plan %>
    <% if !@box.shipped? %>
      <%= button_to 'Ship', plan_box_ship_path(@plan, @box), method: :put, data: { confirm: "You sure?" }%>
    <% end %>
    <br>
    <%= link_to 'Edit Box', edit_plan_box_path(@plan, @box) %><br>
    <%= link_to 'Delete Box', plan_box_path(@plan, @box), method: :delete, data: { confirm: 'You sure?'} %>
    <br><br>
    <%= link_to 'New Box', new_plan_box_path(@plan) %><br>
  <% else %>
    <% if !@box.shipped? %>
      <%= button_to 'Ship', box_ship_path(@box), method: :put, data: { confirm: "You sure?" }%>
    <% end %>
    <br>
    <%= link_to 'Edit Box', edit_box_path(@box) %>
    <%= link_to 'Delete Box', box_path(@box), method: :delete, data: { confirm: 'You sure?'} %>
    <br>
    <%= link_to 'New Box', new_box_path %>
  <% end %>
<% end %>
