<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.first_name %></h1>

  <ul>
    <% current_user.boxes.each do |box| %>
      <strong><p>Subscription course : $<%= box.level %>/mo</p></strong>
      <strong>Your box history</strong>
      <ul>
        <li><%= link_to box.title, user_box_path(box.user_id, box)%> | <%= box.month %> <%= box.year %></li>
      </ul>
    <% end %>
  </ul>

  <%= link_to "cancel subscription", current_user, method: :delete, data: { confirm: "You sure?"} %>

<% else %>
  <br>
  <h1>Welcome to Meowbox</h1>

  <p>A monthly cat subscription box filled with fun unique toys and goodies</p>

  <h3>Cat toys, Cat treats, A box!</h3>

  <br>
  <h4>We have three courses!</h4>
  <p>Click course name for more detail</p>

  <ul>
    <li><a href="/boxes/1">$10/month Box</a></li>
    <li><a href="/boxes/2">$30/month Box</a></li>
    <li><a href="/boxes/3">$100/month Box</a></li>
  </ul>
  <br>
<% end %>
