<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.first_name %></h1>

  <% if current_user.registration %>
    <h3>Check your plan and boxes!</h3>
    <p><%= link_to "Profile", current_user %></p>
  <% else %>
    <h3>Start Subscription!</h3>
    <ul>
      <li><b><%= @sub_1.name.capitalize %></b>  $<%= @sub_1.price %>/mo. | <%= link_to "Buy Now", subscription_path(@sub_1)%></li>
      <li><b><%= @sub_2.name.capitalize %></b> $<%= @sub_2.price %>/mo. | <%= link_to "Buy Now", subscription_path(@sub_2)%></li>
      <li><b><%= @sub_3.name.capitalize %></b> $<%= @sub_3.price %>/mo. | <%= link_to "Buy Now", subscription_path(@sub_3)%></li>
    </ul>
  <% end %>


<% else %>
  <h1>Welcome to Meowbox</h1>
  <h3>Cat toys, Cat treats, A box!</h3>
  <p>A monthly cat subscription box filled with fun unique toys and goodies</p>

  <h4>We have three monthly plans!<br>
  <%= link_to "Click more details", subscriptions_path %></h4>
<% end %>
