<h1>Buy Subscription</h1>

<% @plans.each do |plan| %>
 <ul>
   <li><%= plan.name.capitalize %> | $<%= plan.price %>/mo.</li>
 </ul>
<% end %>
<br>
<%= form_for @subscription, url: user_subscriptions_path(current_user)  do |f| %>
  <%= f.collection_select :plan_id, Plan.all, :id, :name %><br>
  <br>
  <%= f.submit "Buy Subscription", :class => 'btn btn-sm btn-primary' %>
<% end %>
