<h1><%= @item.item_name %></h1>

<div class="">
  <strong>Description</strong><br>
  <%= @item.description %>
</div><br>

<div class="">
  <%= image_tag @item.image %>
</div><br>

<div class="">
  <strong>Size : </strong><%= @item.size %>
</div><br>

<div class="">
  <strong><a href="<%= @item.url %>">Buy online</a></strong>
</div><br>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_item_path(@item) %><br>
  <%= link_to 'Destroy', item_path(@item), method: :delete, data: { confirm: "You sure?" } %>
<% end %>
