<h1>Plans</h1>

<h4>We have some plans!</h4>
<p>Click plan's name for more details</p>

<ul>
<% @plans.each do |plan| %>
  <li>
    <h4><%= link_to plan.name.capitalize, plan %></h4>
    <p>$<%= plan.price %>/mo.</p>
    <div id="plan-<%= plan.id %>"><%= truncate(plan.description) %></div>
    <button class="js-more" data-id="<%= plan.id %>">More Info</button><br>
  </li>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function(){
  $(".js-more").on("click", function(){
    var id = $(this).data("id");
    var getting = $.get("/plans/" + id + ".json")
    getting.done(function(data){
      var plan = data["plan"];
      var descriptionText = "<p>" + plan["description"] + "</p>";
      $("#plan-" + id).html(descriptionText);
    });

  });
});
</script>
