<h1>Create Plan</h1>

<%= form_for @plan do |f| %>
  <%= render "shared/errors", object: @plan %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('form').submit(function(e){
      e.preventDefault();
      var values = $(this).serialize();
      var newPlan = $.post('/plans', values);
      newPlan.done(function(data){
        console.log(data);
      });
    })
  })

</script>
