<h1>Create Plan</h1>

<%= form_for @plan do |f| %>
  <%= render "shared/errors", object: @plan %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>

<div id="planResult">
  <h3 id="planName"></h3>
  <p id="planPrice"></p>
  <p id="planDescription"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/plans', values);
      posting.error(function() {
        alert('error!')
      });
      posting.done(function(data){
        var plan = data["plan"];
        $("#planName").text(plan["name"]);
        $("#planDescription").text(plan["description"]);
        $("#planPrice").text("$" + plan["price"]);
      });
    });
  });
</script>
