<h1 class="planName"><%= @plan.name.capitalize %> Plan</h1>

<h3 class="planPrice">$<%= @plan.price %>/mo.</h3>

<p class="planDescription"><%= @plan.description %></p>


<a href="#" class="load_boxes" data-id="<%= @plan.id %>">View previous meowboxes</a>
<!-- <h4 data-id="<%= @plan.id %>"><%= link_to "View previous meowboxes", plan_boxes_path(@plan), class: "load_boxes" %></h4> -->

<div class="boxes">
  <ul>
  </ul>
</div>

<% if current_user && current_user.plan == nil %>
  <h4><%= link_to "Buy now", new_user_subscription_path(current_user), :class => 'btn btn-sm btn-primary' %></h4>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function(){
  $("a.load_boxes").on("click", function(e){
    var id = $(this).data("id");

    $.get("/plans/" + id + ".json", function(data){
      var plan = data["plan"];
      var $ul = $("div.boxes ul");
      $ul.html("");

      $.each(plan["boxes"], function(index, box){
        $ul.append("<li>" + box["title"] + "</li>");
      });
    });
    e.preventDefault();
  });
});
</script>
