<h1><%= @plan.name.capitalize %> Plan</h1>

<h3>Monthly price | $<%= @plan.price%></h3>

<p><%= @plan.description %></p>

<h4><%= link_to "View previous meowboxes", plan_boxes_path(@plan) %></h4>

<% if current_user && current_user.registration == nil %>
  <h4><%= link_to "Buy now",  %></h4>
<% end %>
